body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(29, 29, 29);
    color:rgb(235, 235, 235);
}
.side-note{
    color: rgb(190, 190, 190);
}
hr{
    border: 1px solid rgb(0, 174, 255);
}
#languages{
    color: rgb(103, 170, 233);
}
#projects{
    color:rgb(78, 172, 226);
}

img{
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 70%;
}